<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/listar.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Restaurante</title>
</head>
<body>
    <div class="lateral">
        <h1>Bienvenido</h1><p>Samuel</p>
    </div>
    <p class="menu">Creacion de Menus</p>
    <div class="linea"></div>
    <div class="contenedor">
        <label class="nombre">Nombre</label>
        <input type="Nombre" name="">
        <label >Ubicacion</label>
        <input type="Nombre" name="">
        <label >Logo del Restaurante</label>
        <input type="Nombre" name="">
    </div>
</body>
</html>